.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: auto;
    color: white;
    align-items: center;
    @include mobile {
        width: 90%;
    }

    label {
        align-self: flex-start;
        margin: 10px 0;
        font-weight: 800;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 6px;
        color: white;
        font-family: "Inter", sans-serif;
    }

    button {
        background-color: transparent;
        border: 2px solid white;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
        color: white;
    }
    .form-success {
        background-color: rgb(61, 104, 61);
        padding: 10px;
        margin-top: 10px;
    }
    .form-failure {
        background-color: rgb(104, 61, 61);
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }
}
