.profile-section {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    width: fit-content;
    img {
        width: 350px;
        border-radius: 50%;
        margin: auto;
        @include mobile {
            max-width: 95%;
        }
    }
    p {
        max-width: 40em;
    }
    @include mobile {
        width: 90%;
    }
}
